/* reset css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

/* 
Orders
1. From outside to inside
2. From top to bottom
3. From overview to detail
*/

/* 
what should we do first ?
1. position
2. size (width, height)
3. color
4. style
 */

 /* common */

.pull-right {
    float: right !important;
}

.object-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.white-text {
    color: white !important;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
    overflow: hidden;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-1 {
    width: 100%;
}

.col-3 {
    width: calc(100% / 3);
}

.col-2 {
    width: 50%;
}

/* main */

#header {
    height: 46px;
    background-color: black;  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;  
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}

#nav li:hover > a {
    color: black;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
}

#nav .subnav a {
    color: black;
    width: 100%;
    padding: 0 16px;
    line-height: 38.5px;
}

#nav .nav-drop-down {
    font-size: 14px;
}

.search-btn {
    float: right;
    line-height: 46.5px;
    padding: 0 23px;
}

.search-btn:hover {
    background-color: red;
    cursor: pointer;
}

.search-btn .magnifying-glass {
    color: white;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text {
    position: absolute;
    bottom: 47px;
    color: white;
    text-align: center;
    width: 100%;
}

#slider .heading {
    font-size: 24px;
}

#slider .description {
    margin-top: 25px;
    font-size: 15px;
    font-weight: bold;
}

#content .content-section {
    width: 800px;
    margin: 0 auto;
    padding: 64px 0 112px;
}

#content .heading {
    font-size: 30px;
    font-weight: 100;
    text-align: center; 
    letter-spacing: 4px;
}

#content .sub-heading {
    font-size: 15px;
    font-style: italic;
    text-align: center; 
    padding: 25px 0 25px 0;
    opacity: 0.6;
}

#content .about-content {
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .members-list {
    margin-top: 47px;
}

#content .member-name {
    font-size: 15px;
    margin: 15px 0;
}

#content .member-img {
    width: 154px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#content .tour-section {
    background-color: black;
}

#content .dates-list {
    background-color: white;
    margin-top: 33px;
    list-style-type: none;
}

.dates-list li {
    font-size: 15px;
    padding: 8px 16px;
    color: grey;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.5);
}

.dates-list .sold-out {
    background-color: orangered;
    padding: 3px 8px;
    margin-left: 16px;
    line-height: 22.5px;
}

.dates-list .tickets {
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 50%;
    float: right;
    margin-right: 22px;
    margin-top: -3px;
    text-align: center;
    line-height: 24px;
}

.places-list {
    margin-top: 32px;
    font-size: 15px;
}

.places-list .place-body {
    background-color: white;
    padding: 16px;
}

.places-list .date {
    opacity: 0.6;
    margin-top: 15px;
}

.places-list .description {
    line-height: 1.4;
    margin-top: 15px;
}

.btn {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 8px 16px;
    margin-top: 15px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #ccc;
    color: black;
}

.places-list .place-img {
    width: 100%;
    display: block;
}

.places-list .place-img:hover {
    opacity: 0.6;
}

#footer {

}

.modal {
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.modal.open {
    display: flex;
}

.modal .modal-container {
    position: relative;
    background-color: white;
    width:900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    animation: SlideDown ease 0.5s;
}

.modal header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    letter-spacing: 8px;
}

.modal-heading-icon {
    margin-right: 12px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 15px;
    padding: 12px;
    cursor: pointer;
}

.modal-close:hover {
    background-color: #ccc;
    color: black;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 8px;
    margin: 8px 0 25px 0;
}

#buy-ticket {
    border: none;
    color: white;
    width: 100%;
    background-color: #009688; 
    font-size: 15px;
    text-transform: uppercase;
    padding: 16px;
}

#buy-ticket:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

.modal-footer {
    text-align: right;
    padding: 16px;
    margin-bottom: 12px;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes SlideDown {
    from {
        transform: translateY(-140px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.content-section .contact-content {
    margin-top: 32px;
} 

.contact-info {
    font-size: 18px;
    line-height: 1.4;
}

.contact-info i {
    width: 30px;
    display: inline-block;
}

.input-info .form-control {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
}

.input-info .message-input {
    margin-top: 10px;
}

.map-section .map {
    width: 100%;
}

#footer {
    padding: 64px 0;
}

#footer .social-media {
    font-size: 20px;
}

.social-media a {
    text-decoration: none;
    color: black;
    opacity: 0.6;
    padding: 0 4px;
}

.social-media a:hover {
    opacity: 0.3;
}

#footer .credit {
    margin-top: 15px;
}

.credit a {
    margin-left: 4px;
    color:black;
    opacity: 0.6;
}






